/*import chosen fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:ital,wght@1,300&display=swap');

/*applicable css style to all html elements*/
* {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    box-sizing: border-box;
}

/*style the body*/
body {
    background: turquoise;
}

/* style game and it's heading*/
#game {
    background: white;
    width: 80%;
    max-width: 650px;
    margin: 80px auto 0;
    border-radius: 15px;
    padding: 40px;
}

#game h1 {
    font-size: 25px;
    color: black;
    font-weight: 500;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

/* style quiz and it's heading*/
#game {
    padding: 20px;
}

#game h2 {
    margin-bottom: 10px;
    font-size: 15px;
    color: black;
    font-weight: 600;
}

/*style the buttons and make it hover*/
.button {
    background: white;
    color: black;
    font-family: Raleway;
    font-weight: 700;
    font-size: 1em;
    border: 1px solid black;
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: black;
    color: white;
}

/*style next-button*/
#next-button {
    background: blue;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 5px auto 0;
    border: 0;
    cursor: pointer;
    text-align: center;
    width: 100px;
    border-radius: 10px;
    display: block;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}